.appbar {
	position: relative;
	@include flexSides();
	padding: 0.5rem 1rem;
	@media (min-width: 768px) {
		padding: 0.5rem 3rem;
	}
	color: #ffffff;
	background-color: $primary;
	box-shadow: 0 3px 10px #00000060;
	user-select: none;
	z-index: 1000;

	.appbar-left {
		display: flex;
		align-items: center;
		.logo-link {
			display: flex;
			align-items: center;
			.appbar-logo {
				font-size: 1.5rem;
				font-weight: 500;
				height: 2.5rem;
				width: auto;
			}
		}

		.title {
			margin-left: 2rem;
			margin-right: 1rem;
			color: #ffffff;
			font-size: 1.2rem;
		}
	}

	.appbar-right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.dropdown {
		position: relative;
		display: flex;
		align-items: center;

		.greeting-text {
			display: none;
			cursor: pointer;
		}
		.menu-icon {
			display: block;
			cursor: pointer;
		}
		@media (min-width: 768px) {
			.greeting-text {
				display: block;
			}
			.menu-icon {
				display: none;
			}
		}

		.dropdown-content {
			display: none;
			position: absolute;
			right: 0;
			top: 2rem;
			background-color: $backgroundColour;
			width: 36ch;
			max-width: 90vw;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1100;
			color: black;

			.dropdown-item {
				color: black;
				padding: 0.5rem 1.3rem;
				text-decoration: none;
				display: block;
				text-align: left;

				.MuiSwitch-root {
					.Mui-checked {
						color: $primary;
					}
					.Mui-checked + .MuiSwitch-track {
						background-color: $primaryLight;
					}
					.Mui-checked:hover {
						background-color: $primaryShadow;
					}
				}
			}

			.clickable {
				padding: 1rem 1.3rem;
				&:hover {
					background-color: #f1f1f1;
				}
			}

			.input-label {
				padding: 0.5rem 1.3rem 0 1.3rem;
			}

			.anonymous-name-bar {
				display: flex;
				input {
					flex: 1;
					min-width: 5rem;
					padding: 0 0.5rem;
					border: 1px solid #666666;
					border-radius: 0.5rem;
					outline: none;
				}

				.icon {
					@include clickable();
					padding: 0.5rem;
					border: 1px solid #666666;
					border-radius: 0.5rem;
					margin-left: 1rem;
				}
			}

			.error {
				color: $secondary;
				&.ok {
					display: none;
				}
			}
		}
	}
	.dropdown-content.open {
		display: block;
	}
}
