.appbar {
	position: static;
	@include flexSides();
	padding: 0.5rem 0.5rem;
	@media (min-width: 768px) {
		padding: 0.5rem 3rem;
	}
	color: #ffffff;
	background-color: $primary;
	box-shadow: 0 3px 10px #aaaaaa;
	user-select: none;

	.logo-link {
		display: flex;
		align-items: center;
		.appbar-logo {
			font-size: 1.5rem;
			font-weight: 500;
			height: 2.5rem;
			width: auto;
		}
	}

	.appbar-items {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.appbar-item {
			color: #ffffff;
			text-decoration: none;
			margin: 0 0.5rem;
			padding: 0.4rem;
			border-radius: 0.4rem;

			&:hover {
				background-color: #ffffff20;
			}
		}
	}

	.dropdown {
		position: relative;

		.dropdown-content {
			display: none;
			position: absolute;
			right: 0;
			top: 2rem;
			background-color: $backgroundColour;
			min-width: 100%;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1000;
			color: black;

			.dropdown-item {
				color: black;
				padding: 0.5rem 1.3rem;
				text-decoration: none;
				display: block;
				text-align: left;
			}

			.clickable {
				padding: 1rem 1.3rem;
				&:hover {
					background-color: #f1f1f1;
				}
			}

			.input-label {
				padding: 0.5rem 1.3rem 0 1.3rem;
			}

			.anonymous-name-bar {
				display: flex;
				input {
					flex: 1;
					min-width: 5rem;
					padding: 0 0.5rem;
					border: 1px solid #666666;
					border-radius: 0.5rem;
					outline: none;
				}

				.icon {
					@include clickable();
					padding: 0.5rem;
					border: 1px solid #666666;
					border-radius: 0.5rem;
					margin-left: 1rem;
				}
			}

			.error {
				color: $secondary;
				&.ok {
					display: none;
				}
			}
		}
	}
	.dropdown-content.open {
		display: block;
	}
}
