@import './palette.scss';
@import './util.scss';

@import './AppBar.scss';
@import './MyCourses.scss';
@import './ReorderQuestions.scss';

body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.00938em;
	line-height: 1.5;
	background-color: $backgroundColour;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
