@import './SlideSettings.scss';

.profile {
	width: 35rem;
	max-width: 90%;
	margin: 3rem auto;

	> .title {
		text-align: center;
		font-size: 3rem;
	}
	.creation-time {
		color: $gray;
	}

	.course {
		margin: 2rem 0;
		border: 2px solid $primary;
		border-radius: 2rem;
		padding: 2rem;

		> .loading {
			text-align: center;
		}

		.title {
			font-size: 1.5rem;
			font-weight: 450;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.manage-icons {
				@include flexCenter();
				.icon {
					@include clickable();
					@include flexCenter();
					height: 2.4rem;
					width: 2.4rem;
					color: white;
					border-radius: 0.4rem;
					box-shadow: 1px 1px 4px #aaaaaa;
					margin-right: 1rem;
				}

				.manage {
					background-color: $primary;
					margin-right: 1rem;
					.material-icons {
						font-size: 1.5rem;
						transition: transform 0.3s;
					}
					&.managing {
						background-color: $secondary;
						.material-icons {
							transform: rotate(120deg);
						}
					}
				}

				.delete {
					background-color: $secondary;
					margin-right: 1rem;
				}

				.minimize {
					background-color: $primary;
				}
			}

			.title-name {
				@include flexCenter();

				.confirm {
					@include clickable();
					color: $primary;
				}

				.rename {
					@include clickable();
					margin-left: 1rem;
				}
			}
		}

		.slides {
			margin: 1rem 0;
			border-top: 1px solid $dividerColour;

			.slide-item {
				padding: 0.5rem 0;
				border-bottom: 1px solid $dividerColour;
				display: flex;

				.left {
					flex: 1;
					@include ellipsis();
					.slide-link {
						color: $primary;
						line-height: 200%;
					}
					.time-row {
						color: $gray;
						font-size: smaller;
					}
				}

				.btns {
					display: flex;
					align-items: center;
					.MuiButton-root {
						margin-left: 0.3rem;
					}
				}
			}
		}

		.upload-bar {
			@include flexCenter;
			margin: 1rem 0rem; 
			.MuiCircularProgress-root {
				margin-left: 1rem;
			}
			button {
				background-color: $primary;
				color: white;
				&:disabled {
					background-color: $disabled;
				}
			}
		}

		.addInstructor-bar {
			@include flexCenter();
			margin-top: 1em;

			.MuiTextField-root {
				width: 50%;
				margin-right: 1em;

				.MuiOutlinedInput-input,
				.MuiOutlinedInput-multiline {
					padding: 6px;
				}
			}
			button {
				background-color: $primary;
				color: white;
			}
		}

		.result-ok {
			text-align: center;
			color: green;
		}

		.result-fail {
			text-align: center;
			color: $secondary;
		}
	}

	.createCourse-bar {
		@include flexCenter();
		margin-top: 1em;

		.MuiTextField-root {
			width: 50%;
			margin-right: 1em;

			.MuiOutlinedInput-input,
			.MuiOutlinedInput-multiline {
				padding: 6px;
			}
		}

		button {
			background-color: $primary;
			color: white;
		}
	}
}
