.new-chat-form {
	margin-bottom: 1rem;
	padding-top: 2rem;
	& > div {
		margin: 0.5em 1rem;
		text-align: center;
	}

	.title {
		font-size: 1.5rem;
	}

	.add-drawing-btn {
		display: inline-flex;
		align-items: center;
		padding: 0.5rem;
		text-transform: uppercase;
		&:hover {
			background-color: #00000008;
		}
	}

	button {
		margin: 0.5rem 0.5rem;
		background-color: $primary;
		color: white;
	}

	.MuiTextField-root {
		width: 100%;

		.MuiOutlinedInput-input {
			padding: 6px 6px 6px 14px;
		}
		.MuiInputBase-multiline {
			padding: 6px;

			.MuiOutlinedInput-input {
				padding: 6px;
			}
		}
	}

	.delete-btn {
		background-color: $secondary;
	}
}
