.new-chat-form {
	margin-bottom: 1rem;
	padding-top: 2rem;
	& > div {
		margin: 0.5em 1rem;
		text-align: center;
	}

	.title {
		font-size: 1.5rem;
	}

	.add-drawing-btn {
		@include clickable;
		display: inline-flex;
		align-items: center;
		padding: 0.5rem;
		text-transform: uppercase;
		transition: background-color 0.3s ease-out;
		&:hover {
			background-color: #00000008;
		}
	}

	button {
		margin: 0.5rem 0.5rem;
		background-color: $primary;
		color: white;
	}

	.MuiButtonBase-root {
		background-color: $buttonBackgroundColour;
	}

	.MuiTextField-root {
		width: 100%;

		.MuiOutlinedInput-root {
			border: 1px solid $textInputBorderColour;
			color: $textColour;
		}

		.MuiOutlinedInput-input {
			padding: 6px 6px 6px 14px;
		}
		.MuiInputBase-multiline {
			padding: 6px;

			.MuiOutlinedInput-input {
				padding: 6px;
			}
		}
	}

	.delete-btn {
		background-color: $secondary;
	}

	.anonymity {
		font-size: small;
		color: $grayText;
	}
}
