.chat-details {
	.title {
		font-size: 1.4rem;
		padding: 2rem 1rem 0 1rem;
		overflow-wrap: anywhere;
	}

	.toast .MuiSnackbarContent-root {
		background-color: #4caf50;
		justify-content: center;
	}

	.chat {
		padding: 1rem;
		border-bottom: 1px solid $dividerColour;
		overflow-wrap: anywhere;

		.info {
			@include flexSides();
			font-size: 0.9rem;

			.author {
				overflow-wrap: anywhere;
			}

			.time {
				margin-left: 0.5rem;
				color: #cccccc;
			}

			.icons {
				display: flex;
				align-items: center;

				.quote {
					color: #cccccc;
				}

				.icon {
					@include clickable();
					margin: 0 0.3rem;
				}

				.endorsed {
					color: $endorsementColour;
				}

				.not-endorsed {
					color: #cccccc;
				}

				.liked {
					display: flex;
					align-items: center;
					color: $likeColour;
				}

				.nobody-liked {
					display: flex;
					align-items: center;
					color: #cccccc;
				}

				.delete {
					color: $secondary;
					&:hover {
						color: $secondaryHover;
					}
				}
			}
		}

		.info-bottom {
			font-size: 0.9rem;

			.modify-btn {
				margin-top: 1rem;
				@include clickable();
				color: #cccccc;
				text-decoration: underline;
			}

			.endorsement {
				margin-top: 1rem;
				color: $endorsementColour;
			}
		}

		:root[data-theme='dark'] pre {
			background-color: #af4c4c;
		}

		p > code {
			background-color: $codeBackground;
			padding: 0.15rem;
		}
	}

	.MuiExpansionPanelDetails-root {
		padding-top: 16px !important;
		padding-bottom: 16px !important;
	}

	.send-message-bar {
		display: flex;
		padding: 0.5rem;
		align-items: center;

		.MuiTextField-root {
			background-color: $backgroundColour;
			flex: 1;
			margin-right: 0.5rem;

			.MuiOutlinedInput-root {
				border: 1px solid var(--text-input-border-color);
			}

			.MuiOutlinedInput-multiline {
				padding: 6px;
				color: var(--text-colour);
			}
		}

		button:not(:disabled) {
			background-color: $primary;
		}
	}

	.anonymity {
		padding: 0 0.5rem;
		font-size: x-small;
		color: $grayText;
		margin-bottom: 0.5rem;
	}
}
