.chat-list {
	.new-chat-btn-row {
		text-align: center;
		padding: 1rem 0;
		border-bottom: 1px solid $dividerColour;
		button:not(:disabled) {
			background-color: $primary;
			color: white;
		}
	}

	.align-right {
		text-align: right;
	}
	.list-options {
		margin: 0.3rem 1rem;
		display: inline-grid;
		grid-template-columns: auto auto auto;
		row-gap: 0.3rem;
		column-gap: 0.8rem;
		font-size: 0.8rem;
		text-transform: uppercase;
		color: $textSecondary;
		.option-label {
			text-align: right;
		}
		.option {
			@include clickable();
			text-align: center;
			&.selected {
				color: $textPrimary;
			}
		}
	}

	.chat {
		padding: 1rem;
		border-bottom: 1px solid $dividerColour;
		&:hover {
			background: $questionHover;
			cursor: pointer;
		}

		.title-row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.title {
				font-size: 1.2rem;
				font-weight: 420;
				@include ellipsis();
			}

			.icons {
				display: flex;
				align-items: center;
			}

			.icon {
				user-select: none;
				margin: 0 0.3rem;
			}

			.endorsed {
				color: $endorsementColour;
			}

			.delete {
				color: $secondary;
				&:hover {
					color: $secondaryHover;
				}
			}
		}

		.info {
			@include flexSides();

			.author {
				flex: 1;
				font-size: 0.9rem;
				color: $textSecondary;
				@include ellipsis();
			}

			.time {
				font-size: 0.9rem;
				margin-left: 0.5rem;
				color: $textSecondary;
			}
		}
		.extra-info {
			color: $textSecondary;
			font-size: 0.9rem;
		}
	}
}
