.chat-details {
	.title {
		font-size: 1.4rem;
		padding: 2rem 1rem 0 1rem;
		overflow-wrap: anywhere;
	}

	.toast .MuiSnackbarContent-root {
		background-color: #4caf50;
		justify-content: center;
	}

	.chat {
		padding: 1rem;
		border-bottom: 1px solid $dividerColour;
		overflow-wrap: anywhere;

		.info {
			@include flexSides();
			font-size: 0.9rem;

			.author {
				overflow-wrap: anywhere;
			}

			.time {
				margin-left: 0.5rem;
				color: $textSecondary;
			}

			.icons {
				display: flex;
				align-items: center;

				.icon {
					@include clickable();
					margin: 0 0.3rem;
				}

				.quote,
				.not-endorsed,
				.nobody-liked {
					color: $textSecondary;
					transition: color 0.2s ease-out;
					&:hover {
						color: $iconHover;
					}
				}

				.endorsed {
					color: $endorsementColour;
				}

				.liked,
				.nobody-liked {
					display: flex;
					align-items: center;
				}

				.liked {
					color: $likeColour;
				}

				.delete {
					color: $secondary;
					&:hover {
						color: $secondaryHover;
					}
				}
			}
		}

		.info-bottom {
			font-size: 0.9rem;

			.modify-btn {
				margin-top: 1rem;
				@include clickable();
				color: $textSecondary;
				text-decoration: underline;
			}

			.endorsement {
				margin-top: 1rem;
				color: $endorsementColour;
			}
		}

		a {
			color: $linkColour;
			transition: color 0.2s ease-out;
			&:hover {
				color: $linkHover;
			}
		}

		p > code {
			background-color: $dropdownHover;
			padding: 0.15rem;
		}
	}

	.send-message-bar {
		display: flex;
		padding: 0.5rem;
		align-items: center;

		.MuiTextField-root {
			background-color: $backgroundColour;
			flex: 1;
			margin-right: 0.5rem;

			.MuiOutlinedInput-multiline {
				padding: 6px;
				color: $textPrimary;
			}

			fieldset {
				border: 1px solid $dividerColour;
			}
			&:hover {
				fieldset {
					border: 1px solid $primary !important;
				}
			}
		}

		button:not(:disabled) {
			background-color: $primary;
		}
	}

	.anonymity {
		padding: 0 0.5rem;
		font-size: x-small;
		color: $textSecondary;
		margin-bottom: 0.5rem;
	}
}
