<div class="container">
    <div class="panel panel-danger" style="display:none;">
        <div class="panel-heading">Note</div>
        <div class="panel-body">If you are not an instructor please contact your instructor and get a course link to further procced.</div>
    </div>
    <h3>
    Instructor Login
</h3>
    <form>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" ng-model="loginInfo.email" aria-describedby="emailHelp" placeholder="Enter email">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" ng-model="loginInfo.password" placeholder="Enter Password">
        <div class="checkbox">
            <!--
            <label>
    <input type="checkbox"> Remeber me </label>
-->
        </div>
        <button type="submit" class="btn btn-primary" ng-click="logMeIn()">Login</button>
    </form>
</div>
