@import './palette.scss';
@import './util.scss';

@import './components/AppBar.scss';
@import './components/chat/ChatArea.scss';
@import './components/slide/Slides.scss';
@import './Landing.scss';

body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.00938em;
	line-height: 1.5;
	background-color: $backgroundColour;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
	background-color: $backgroundColour;
	.handle {
		display: none;
	}
}

@media (min-width: 768px) {
	.main:not(.fullscreen) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		// 2.5rem logo + (0.5rem padding * 2)
		height: calc(100vh - 3.5rem);
		.slide-wrapper {
			width: 90%;
		}
		.chat-area-title {
			border-top: none;
		}
		.chat-area-main {
			height: calc(100vh - 8rem);
		}
		.slide-container,
		.chat-area-main {
			@include vertical-scrollbar;
		}
	}
	.main.larger-slide:not(.fullscreen) {
		grid-template-columns: 3fr 1fr;
		.slide-wrapper {
			width: 95%;
		}
	}

	.chat-area {
		min-width: 300px;
		overflow-y: auto;
		border-left: 1px solid $dividerColour;
	}
}

.main.fullscreen {
	display: flex;
	.handle {
		position: absolute;
		bottom: 0.86rem;
		right: 20rem;
		width: 10rem;
	}
	.chat-area {
		display: none;
	}
	.slide-container {
		padding: 0;
		width: 100%;
		//height: 100%;
		.slide-wrapper {
			position: relative;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			.slide {
				max-width: 100%;
				max-height: 100%;
			}
			.slide-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 95%;
			}
			.fullscreen-drawing-controls {
				@include clickable();
				@include flexCenter();
				position: absolute;
				left: 23.8rem;
				bottom: 0.86rem;
				height: 2.4rem;
				width: 2.4rem;
				color: $textSecondary;
				border-radius: 0.4rem;
				font-size: 1.5rem;
				transition: background-color 0.3s ease-out;
				background-color: #e9e9e9;
				color: black;
				&:hover {
					background-color: #a1a0a0;
					color: rgb(102, 84, 84);
				}
			}
			.flip-page-overlay {
				position: absolute;
				top: 0;
				left: 0;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				width: 100%;
				height: 95%;
			}
			.page-panel {
				position: absolute;
				left: 0;
				bottom: 0.5rem;
				width: auto;
			}
			.icon-btn {
				@include clickable();
				@include flexCenter();
				position: absolute;
				left: 20.8rem;
				bottom: 0.86rem;
				height: 2.4rem;
				width: 2.4rem;
				color: $textSecondary;
				border-radius: 0.4rem;
				font-size: 1.5rem;
				transition: background-color 0.3s ease-out;
				&:hover {
					background-color: #e9e9e9;
					color: black;
				}
			}
			.drawing {
				background-color: #e9e9e9;
				color: black;
			}
			.slide-audio {
				position: absolute;
				bottom: 0.86rem;
				height: 2.4rem;
				width: revert;
				outline: none;
			}
		}
	}
}
