@import './palette.scss';
@import './util.scss';

@import './components/AppBar.scss';
@import './components/chat/ChatArea.scss';
@import './components/slide/Slides.scss';
@import './Landing.scss';

body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.00938em;
	line-height: 1.5;
	background-color: $backgroundColour;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
	background-color: $backgroundColour;
}

@media (min-width: 768px) {
	.main:not(.fullscreen) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		// 2.5rem logo + (0.5rem padding * 2)
		height: calc(100vh - 3.5rem);
		.slide-wrapper {
			width: 90%;
		}
		.chat-area-title {
			border-top: none;
		}
		.chat-area-main {
			height: calc(100vh - 8rem);
		}
		.slide-container,
		.chat-area-main {
			@include vertical-scrollbar;
		}
	}
	.main.larger-slide:not(.fullscreen) {
		grid-template-columns: 3fr 1fr;
		.slide-wrapper {
			width: 95%;
		}
	}

	.chat-area {
		min-width: 300px;
		overflow-y: auto;
		border-left: 1px solid $dividerColour;
	}
}

.main.fullscreen {
	display: flex;
	.chat-area {
		display: none;
	}
	.slide-container {
		padding: 0;
		width: 100%;
		height: 100%;
		.slide-wrapper {
			position: relative;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			.slide {
				max-width: 100%;
				max-height: 100%;
			}
			.page-panel {
				position: absolute;
				left: 0;
				bottom: 0.5rem;
			}
			.slide-audio {
				position: absolute;
				left: 24rem;
				bottom: 0.5rem;
				width: revert;
			}
		}
	}
}
