@import './palette.scss';
@import './util.scss';

.appbar {
    position: static;
    @include sides();
	padding: 0.5rem 3rem;
	color: #ffffff;
	background-color: $primary;
	box-shadow: 0 3px 10px #aaaaaa;
	user-select: none;

	.appbar-logo {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 500;
	}

	.appbar-item {
		margin: 0 0.5rem;
		padding: 0.4rem;
		border-radius: 0.4rem;

		&:hover {
			background-color: #ffffff20;
		}
	}
}
