@import './palette.scss';
@import './util.scss';
@import './github-gist.scss';

.chat-area {
	min-width: 0;

	.chat-area-title {
		font-size: 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1.5rem;
		border: 1px solid #cccccc;
		box-shadow: 0 3px 6px #cccccc;
		user-select: none;

		.title {
			margin: 0 0.7rem;
			@include ellipsis();
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.back-button {
			display: flex;
			align-items: center;
			transition: color 0.2s;

			&:hover {
				color: #aaaaaa;
			}
		}

		.placeholder {
			width: 2.4rem;
		}

		.manage {
			@include clickable();
			@include flexCenter();
			height: 2.4rem;
			width: 2.4rem;
			color: black;
			border-radius: 0.4rem;

			.icon {
				font-size: 1.5rem;
				transition: transform 0.3s;
			}

			&:hover {
				background-color: #e9e9e9;
			}
		}

		.managing {
			background-color: #e9e9e9;
			box-shadow: inset 1px 1px 4px #aaaaaa;

			.icon {
				transform: rotate(120deg);
			}
		}
	}

	.new-chat-btn-row {
		text-align: center;
		padding: 1rem 0;
		border-bottom: 1px solid #cccccc;
		button {
			background-color: $primary;
			color: white;
		}
	}

	.chat-list {
		.chat {
			padding: 1rem;
			border-bottom: 1px solid #cccccc;
			&:hover {
				background: #fdfdfd;
				cursor: pointer;
			}

			.title-row {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.title {
					font-size: 1.2rem;
					font-weight: 420;
					@include ellipsis();
				}

				.icon {
					user-select: none;
					font-size: 1.3rem;
					color: $secondary;
					&:hover {
						color: lighten($secondary, 10%);
					}
				}
			}

			.info {
				@include flexSides();

				.author {
					flex: 1;
					font-size: 0.9rem;
					color: #cccccc;
					@include ellipsis();
				}

				.time {
					font-size: 0.9rem;
					margin-left: 0.5rem;
					color: #cccccc;
				}
			}
		}
	}

	.chat-details {
		.title {
			font-size: 1.4rem;
			padding: 2rem 1rem 0 1rem;
			overflow-wrap: anywhere;
		}

		.chat {
			padding: 1rem;
			border-bottom: 1px solid #cccccc;
			overflow-wrap: anywhere;

			.info {
				@include flexSides();
				font-size: 0.9rem;

				.author {
					overflow-wrap: anywhere;
				}

				.time {
					margin-left: 0.5rem;
					color: #cccccc;
				}

				.icons {
					display: flex;
					align-items: center;

					.icon {
						@include clickable();
						margin: 0 0.3rem;
					}

					.endorsed {
						color: $endorsementColour;
					}

					.not-endorsed {
						color: #cccccc;
					}

					.liked {
						display: flex;
						align-items: center;
						color: $likeColour;
					}

					.nobody-liked {
						display: flex;
						align-items: center;
						color: #cccccc;
					}

					.delete {
						color: $secondary;
						&:hover {
							color: lighten($secondary, 10%);
						}
					}
				}
			}

			.info-bottom {
				font-size: 0.9rem;
				margin-top: 1rem;

				.endorsement {
					color: $endorsementColour;
				}
			}

			p > code {
				background-color: $codeBackground;
				padding: 0.15rem;
			}
		}

		.MuiExpansionPanelDetails-root {
			padding-top: 16px !important;
			padding-bottom: 16px !important;
		}

		.send-message-bar {
			display: flex;
			padding: 0.5rem;
			align-items: center;

			.MuiTextField-root {
				flex: 1;
				margin-right: 0.5rem;

				.MuiOutlinedInput-multiline {
					padding: 6px;
				}
			}

			button {
				background-color: $primary;
			}
		}
	}

	.new-chat-form {
		margin-bottom: 1rem;
		padding-top: 2rem;
		& > div {
			margin: 0.5em 1rem;
			text-align: center;
		}

		.title {
			font-size: 1.5rem;
		}

		.add-drawing-btn {
			display: inline-flex;
			align-items: center;
			padding: 0.5rem;
			text-transform: uppercase;
			&:hover {
				background-color: #00000008;
			}
		}

		button {
			margin: 0.5rem 0.5rem;
			background-color: $primary;
			color: white;
		}

		.MuiTextField-root {
			width: 100%;

			.MuiOutlinedInput-input {
				padding: 6px 6px 6px 14px;
			}
			.MuiInputBase-multiline {
				padding: 6px;

				.MuiOutlinedInput-input {
					padding: 6px;
				}
			}
		}
	}
}
