.main.fullscreen {
	display: flex;
	.handle {
		position: absolute;
		bottom: 0.86rem;
		right: 20rem;
		width: 10rem;
	}
	.chat-area {
		width: 450px;
		&.hidden {
			display: none;
		}
	}
	.slide-container {
		padding: 0;
		width: 100%;
		.slide-wrapper {
			position: relative;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			&.fullscreen-portrait {
				.slide,
				.slide-overlay {
					width: auto;
					height: 100%;
				}
			}
			.slide {
				max-width: 100%;
				max-height: 100%;
			}
			.page-panel {
				position: absolute;
				left: 0.5rem;
				bottom: 0.5rem;
				display: flex;

				.buttons {
					background-color: $pagePanelBg;
					border-radius: 0.5rem;
				}
				.slide-audio {
					width: revert;
					margin-left: 1rem;
				}
			}

			.chat-handle {
				@include icon-btn;
				position: absolute;
				right: 0;
				bottom: 1rem;
				border-radius: 1.2rem 0 0 1.2rem;
				padding-left: 0.5rem;
				background-color: $pagePanelBg;
				color: $textPrimary;
			}
		}
	}
}
