$primary: rgb(108, 161, 124);
$secondary: rgb(202, 41, 98);
$gray: rgb(226, 231, 229);
$grayText: rgb(186, 195, 191);
$disabled: rgb(190, 190, 190);
$dividerColour: #cccccc;
$backgroundColour: #fafafa;
$likeColour: #e97b89;
$endorsementColour: rgb(236, 196, 84);
$codeBackground: #0000000a;
