.reorder-page {
	width: 60rem;
	max-width: 100%;
	margin: 3rem auto;

	> .title {
		text-align: center;
		font-size: 2.5rem;
	}

	.subtitle {
		text-align: center;
		font-size: 1.5rem;
		margin: 1em;
	}

	.upload-bar {
		@include flexCenter;
		margin-bottom: 1em;
		.MuiCircularProgress-root {
			margin-left: 1rem;
		}
    }
    
    .container {
        display: flex;
        .left-side {
            flex: 3;
            min-width: 0;

            .pages-list {
                border: 1px solid #cccccc;

                .page-item {
                    border: 1px solid #cccccc;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .page-item-left {
                        display: flex;
                        align-items: center;

                        .thumbnail {
                            max-height: 5rem;
                            margin-right: 1rem;
                        }

                        .tooltip {
                            @include tooltip(20rem);
                        }
    
                        .question-icon {
                            margin: 0.25rem;
                            padding: 0.25rem 0.5rem;
                            border: 1px solid #cccccc;
                            border-radius: 0.25rem;
                        }
                    }

                    .page-item-right {
                        display: flex;
                        align-items: center;

                        .tooltip {
                            @include tooltip(15rem);
                        }

                        .btn {
                            @include clickable();
                            @include flexCenter();
                            width: 2rem;
                            height: 2rem;
                            margin: 0 0.25rem;
                            border-radius: 0.25rem;
                            border: 1px solid #cccccc;
                        }
                    }
                }
            }
        }

        .right-side {
            flex: 1;
            min-width: 0;
            padding: 2rem;
            
            .toolbox {
                position: sticky;
                top: 2rem;
                border: 1px solid #cccccc;
            }
        }
    }

    .button-row {
        text-align: center;
        margin: 1rem 0;
        .MuiButtonBase-root {
            margin: 0 1rem;
        }
    }

	.result-ok {
		text-align: center;
		color: green;
	}

	.result-fail {
		text-align: center;
		color: $secondary;
	}
}
