@import './util.scss';

.slide-container {
	margin: 1rem 0;
	text-align: center;

	.title {
		font-size: 1.6rem;
	}

	.slide-wrapper {
		width: 100%;
		margin: 1rem auto 0 auto;
		position: relative;

		.slide {
			width: 100%;
		}

		.slide-overlay {
			position: absolute;
			top: 0;
			left: 0;
			background-color: #00ff0008;
			width: 100%;
		}

		.drawing-controls {
			display: flex;
			justify-content: center;

			& > span {
				@include clickable();
				background-color: #cccccc;
				padding: 0.2rem;
				margin: 0 0.5rem;
			}
		}
	}

	.audio-row {
		@include flexCenter();

		.slideAudio {
			max-width: 80%;
			outline: none;
		}

		.file {
			width: 13rem;
		}

		.icon {
			@include clickable();
			color: white;
			font-size: 1.5rem;
			padding: 0.2rem;
			border-radius: 0.5rem;
		}

		.progress {
			padding: 0.2rem;
			border-radius: 0.5rem;
		}

		.upload {
			background-color: $primary;
			&:hover {
				background-color: lighten($primary, 10%);
			}
		}

		.delete {
			background-color: $secondary;
			&:hover {
				background-color: lighten($secondary, 10%);
			}
		}
	}

	button {
		margin: 1rem;
	}

	input {
		width: 1.8rem;
		background-color: $backgroundColour;
		padding: 0.1rem;
		font-size: 1em;
		text-align: center;
		border: 1px solid $backgroundColour;
		border-radius: 0.25rem;

		&:hover {
			background-color: #e9e9e9;
		}

		&:focus {
			outline: none;
			border-color: black;
			background-color: #e9e9e9;
		}
	}

	.download-link {
		color: #aaaaaa;
	}
}
