@mixin clickable {
	user-select: none;
	cursor: pointer;
}

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexSides {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin tooltip($width) {
	position: relative;

	.tooltip-text {
		opacity: 0;
		visibility: hidden; // need this so that hovering over transparent text does not trigger it

		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;

		width: $width;
		margin-left: $width / -2;
		margin-bottom: 0.5rem;

		background-color: black;
		color: #fff;
		text-align: center;
		padding: 0.5rem;
		border-radius: 0.5rem;

		&::after {
			content: ' ';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -1rem; // 0.5rem for width + 0.5rem for padding
			border-width: 0.5rem;
			border-style: solid;
			border-color: black transparent transparent transparent;
		}
	}

	&:hover .tooltip-text {
		transition: opacity 0.5s;
		transition-delay: 0.5s;
		opacity: 1;
		visibility: visible;
	}
}

@mixin my-material-btn {
	color: $primary;
	padding: 5px 16px;
	font-size: 0.875rem;
	line-height: 1.75;
	transition: background-color 250ms;
	font-weight: 500;
	border-radius: 4px;
	border: 1px solid $primary;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	text-decoration: none;
	user-select: none;
	&:hover {
		background-color: adjust-color($color: $primary, $alpha: -0.85);
	}
	margin-right: 0.5rem;
}

@mixin vertical-scrollbar {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 0.4rem;
	}
	&::-webkit-scrollbar-thumb {
		display: none;
		background-color: $textSecondary;
		border-radius: 0.2rem;
	}
	&:hover {
		&::-webkit-scrollbar-thumb {
			display: block;
		}
	}
}
