@mixin clickable {
	user-select: none;
	&:hover {
		cursor: pointer;
	}
}

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexSides {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin tooltip($width) {
	position: relative;
	display: inline-block;
	
	.tooltip-text {
		visibility: hidden;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;

		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		width: $width;
		margin-left: $width / -2;

		&::after {
			content: " ";
			position: absolute;
			top: 100%; /* At the bottom of the tooltip */
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: black transparent transparent transparent;
		  }
	}

	&:hover .tooltip-text {
		visibility: visible;
	}
}
