@mixin clickable {
	user-select: none;
	&:hover {
		cursor: pointer;
	}
}

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexSides {
	display: flex;
	justify-content: space-between;
	align-items: center;
}