<div class="container" ng-init="gpage(pageNum)">
    <div ng-if="error == 1">
        <div ng-include="'templates/errors/404.html'"></div>
    </div>
  
    <div class="row" ng-if="error != 1">
        <div class="col-md-7">
            
            <div id="pdfviewer" style="margin-top:32px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>{{filena}}</h2>
                        <a style="float:right;" href="{{downloadlink}}" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Download Slides</a>
                        <ng-pdf template-url="templates/viewer/pdf.html" canvasid="pdf" scale="page-fit" page='1'></ng-pdf>
            
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-5">
            <h3 style="text-decoration:underline;margin-top:-4px;">Q&A</h3>
            <form style="padding: 10px; border: black 4px solid;" ng-controller="viewerController"> Name:
                <input type="text" placeholder="(optional) Enter name" ng-model="pname" />
                <br/> Question:
                <textarea ng-model="quest"></textarea>
               
                <input type="submit" value="submit" ng-click="postQuestion()" /> 
            </form>
            <!--  Live preview
              <div id="live"> {{comment}} </div>-->
           <br/><!-- <a ng-value="pageNum = pageN"></a>-->
            <div id="comments">
            
                <div id="qs" ng-repeat="q in questions">
                    
<!--                    <a ng-click='goTo(3)'>@3</a>-->
                    <div class="detailBox">
                        <div class="titleBox">
                            <label><img src="assets/img/question.png" width='30px' height='30px'/> &nbsp;{{q.question}}</label><span class="badge" style="float:right;">{{q.numanswers}}</span> <span class="glyphicon glyphicon-chevron-down"></span>
                            <!--        <button type="button" class="close" aria-hidden="true">&times;</button>-->
                        </div>
                        <div class="actionBox">
                            <ul class="commentList">
                                <li>
                                    <div class="commenterImage"></div>
                                    <div class="commentText">
                                        <p style="margin-bottom:6px" class="alert alert-success" ng-repeat="a in answers" ng-if="a.qid == q.id ">
                                           {{a. answer}}
                                            <br/>
                                            <span class="date sub-text">{{a.date}}</span>
                                        </p>
                                        
                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input class="form-control" type="text" ng-model="answer" placeholder="Your Answer" /></div>
                                <div class="form-group">
                                    <button class="btn btn-default" ng-click="postAnswer(answer,q.id)">Post</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>