
<div class="container">
    <div ng-if="error == 1">
        <div ng-include="'templates/errors/404.html'"></div>
    </div>

    <div id="pdfviewer">
    <pre>{pdf goes here}</pre>
    </div>
    
    {{info}}
    <div id="comments">
        <h3 style="text-decoration:underline;">Q&A k</h3>
    
        <div id="qs" ng-repeat="q in questions">
            <a ng-click="showQuestion(q.qid)">{{q.question}}</a>
        </div>
       <form style="padding: 10px; border: black 4px solid;">
           Name:<input type="text" placeholder="(optional) Enter name" ng-model ="pname" />
           <br/>
          Question:
            <textarea ng-model="comment"></textarea>
           {{question}}
           <input type="submit" value="submit" ng-click="postQuestion()"/>
    
        </form>
       
         Live preview
        <div id="live">
            {{question}}
        </div>

    </div>
    
</div>