<div iv class="btn-group" role="group" aria-label="sliderbuttons">
    <button class="btn btn-default glyphicon glyphicon-chevron-left" ng-click="goPrevious()"></button>
    <button class="btn btn-default glyphicon glyphicon-chevron-right" ng-click="goNext()"></button>
</div>
<div class="btn-group" role="group">
        <div class="input-group" style="width:230px; padding-left:20px;"> 
        <span class="input-group-addon" id="basic-addon1">Page:</span>
        <input type="text" min=1 class="form-control" ng-model="pageNum"> </div>
</div>
<hr> {{loading}}
<canvas id="pdf" class="rotate0"></canvas>
