.slide-container {
	padding: 1rem 0;
	text-align: center;
	min-width: 0;

	.title {
		font-size: 1.6rem;
	}

	.slide-toolbar {
		display: flex;
		justify-content: flex-end;
		padding: 0 1rem;

		.icon-btn {
			@include clickable();
			@include flexCenter();
			height: 2.4rem;
			width: 2.4rem;
			color: $grayText;
			border-radius: 0.4rem;
			font-size: 1.5rem;
			transition: background-color 0.3s ease-out;
			&:hover {
				background-color: #e9e9e9;
				color: black;
			}
		}
		a {
			text-decoration: none;
			color: $grayText;
			&:hover {
				color: black;
			}
		}

		.drawing {
			background-color: #e9e9e9;
			color: black;
		}

		.toast .MuiSnackbarContent-root {
			background-color: #4caf50;
			justify-content: center;
		}
	}

	.slide-wrapper {
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding-top: 0.4rem;

		.slide {
			width: 100%;
		}

		.slide-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.drawing-controls {
			display: flex;
			justify-content: center;

			& > span {
				@include clickable();
				background-color: $drawingControlsBgColour;
				padding: 0.3rem 0.5rem;
				margin: 0.5rem;
				border-radius: 0.2rem;
				box-shadow: 1px 2px 3px $buttonHover;
			}
		}

		.flip-page-overlay {
			position: absolute;
			top: 0;
			left: 0;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 100%;
		}

		.slide-audio {
			width: 100%;
			outline: none;
		}
	}

	.audio-instructor {
		@include flexCenter();
		margin: 0 auto;

		.file {
			width: 13rem;
			background-color: $backgroundColour;
		}

		.progress {
			padding: 0.2rem;
			border-radius: 0.5rem;
		}

		.upload,
		.start,
		.stop {
			background-color: $primary;
			color: white;
			margin: 0 0.5rem;
			&:disabled {
				background-color: $disabled;
			}
			.start-icon {
				color: #f5345b;
				margin-right: 2px;
			}
			.stop-icon {
				color: #591616;
				margin-left: 2px;
			}
		}

		.delete {
			background-color: $secondary;
			color: white;
			margin: 0 0.5rem;
			&:disabled {
				background-color: $disabled;
			}
		}
	}
	.recording {
		@include flexCenter();
		margin: 1rem auto;
		border: 2px dashed gray;
		width: fit-content;
		padding: 1rem;
		border-radius: 10px;
		.recording-audio {
			margin: 0.5rem;
			outline: none;
		}
		.upload {
			background-color: $primary;
			color: white;
			margin: 0 0.5rem;
		}
	}
	.page-panel {
		margin: 0.5rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		.material-icons {
			@include clickable;
			margin: 0rem 0.5rem;
			font-size: 35px;
			transition: color 0.1s;
			&:hover {
				color: $gray;
			}
		}
		.page-input {
			margin: 0 0.5rem;
			input {
				background-color: $backgroundColour;
				color: $textColour;
			}
		}
		.disable {
			color: $gray;
			cursor: default;
		}
	}

	.carousel {
		display: flex;
		align-items: center;
		@media (min-width: 768px) {
			width: 80%;
		}
		margin: 1rem auto;
		white-space: nowrap;
		overflow-x: auto;
		padding: 0.5rem;
		box-sizing: border-box;
		border: 1px solid $carouselBorder;
		border-radius: 0.2rem;
		position: relative;
		&::-webkit-scrollbar {
			height: 0.4rem;
		}
		&::-webkit-scrollbar-thumb {
			display: none;
			background-color: #cccccc;
			border-radius: 0.2rem;
		}
		&:hover {
			&::-webkit-scrollbar-thumb {
				display: block;
			}
		}

		.thumbnail-container {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			min-width: 80px;
			height: 45px;
			margin: 0 5px;
			transition: margin 0.5s ease-out, transform 0.5s ease-out;
			img {
				max-width: 100%;
				max-height: 100%;
			}
			&.current-slide {
				outline: 2px solid $likeColour;
			}
			&:hover {
				transform: scale(1.1);
				margin: 0 1.5rem;
			}
		}
	}

	input {
		width: 1.8rem;
		background-color: $backgroundColour;
		padding: 0.1rem;
		font-size: 1em;
		text-align: center;
		border: 1px solid $backgroundColour;
		border-radius: 0.25rem;

		&:hover {
			background-color: #e9e9e9;
		}

		&:focus {
			outline: none;
			border-color: black;
			background-color: #e9e9e9;
		}
	}

	input[type='tel'] {
		border: 1px solid #00000020;
	}

	.download-link {
		color: #aaaaaa;
	}
}
