.slide-container {
	padding: 1rem 0;
	text-align: center;
	min-width: 0;

	.title {
		font-size: 1.6rem;
	}

	.slide-toolbar {
		display: flex;
		justify-content: flex-end;
		padding: 0 1rem;

		.draw-buttons {
			display: flex;
			align-items: center;
			.colour-block {
				height: 25px;
				width: 25px;
				margin-right: 1rem;
				cursor: pointer;
				border-radius: 2px;
				position: relative;

				.color-picker-wrapper {
					position: absolute;
					z-index: 1;
					left: -14rem;
					top: -0.2rem;
				}
			}
		}

		.icon-btn {
			@include icon-btn;
		}
		a {
			text-decoration: none;
			color: $textSecondary;
			&:hover {
				color: black;
			}
		}

		.drawing {
			background-color: #e9e9e9;
			color: black;
			display: flex;
			align-items: center;
		}

		.toast .MuiSnackbarContent-root {
			background-color: #4caf50;
			justify-content: center;
		}
	}

	.slide-wrapper {
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding-top: 0.4rem;

		.slide {
			width: 100%;
		}

		.slide-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.drawing-controls {
			display: flex;
			justify-content: center;

			& > span {
				@include clickable();
				background-color: $primaryGray;
				padding: 0.3rem 0.5rem;
				margin: 0.5rem;
				border-radius: 0.2rem;
				box-shadow: 1px 2px 3px #00000038;
			}
		}

		.flip-page-overlay {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.slide-audio {
			width: 100%;
			outline: none;
		}
	}

	.audio-instructor {
		@include flexCenter();
		margin: 0 auto;

		.file {
			width: 13rem;
			background-color: $backgroundColour;
		}

		.progress {
			padding: 0.2rem;
			border-radius: 0.5rem;
		}

		.upload,
		.start,
		.stop {
			background-color: $primary;
			color: white;
			margin: 0 0.5rem;
			&:disabled {
				background-color: $disabled;
			}
			.start-icon {
				color: #f5345b;
				margin-right: 2px;
			}
			.stop-icon {
				color: #591616;
				margin-left: 2px;
			}
		}

		.delete {
			background-color: $secondary;
			color: white;
			margin: 0 0.5rem;
			&:disabled {
				background-color: $disabled;
			}
		}
	}
	.recording {
		@include flexCenter();
		margin: 1rem auto;
		border: 2px dashed $dividerColour;
		width: fit-content;
		padding: 1rem;
		border-radius: 10px;
		.recording-audio {
			margin: 0.5rem;
			outline: none;
		}
		.upload {
			background-color: $primary;
			color: white;
			margin: 0 0.5rem;
		}
	}

	.page-panel {
		.buttons {
			margin: 0.5rem 0;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			.colour-block {
				height: 25px;
				width: 25px;
				cursor: pointer;
				border-radius: 2px;
				position: relative;
				display: flex;
				align-items: center;
				.color-picker-wrapper {
					position: absolute;
					z-index: 1;
					right: 0;
					top: -4rem;
					opacity: 0.9;
				}
			}

			.material-icons {
				@include clickable;
				margin: 0rem 0.5rem;
				font-size: 35px;
				transition: color 0.2s ease-out;
				&:not(.disable):hover {
					color: $iconHover;
				}
			}

			.disable {
				color: $disabled;
				cursor: default;
			}
			.page-input {
				margin: 0 0.5rem;
				padding: 0.25rem;
				input {
					width: 1.8rem;
					padding: 0.1rem;
					text-align: center;
					font-size: 1rem;
					border-radius: 0.25rem;
					border: 1px solid $dividerColour;
					background-color: $backgroundColour;
					color: $textPrimary;

					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	.carousel {
		display: flex;
		align-items: center;
		@media (min-width: 768px) {
			width: 80%;
		}
		margin: 1rem auto;
		white-space: nowrap;
		overflow-x: auto;
		padding: 0.5rem;
		box-sizing: border-box;
		border: 1px solid $dividerColour;
		border-radius: 0.2rem;
		position: relative;
		&::-webkit-scrollbar {
			height: 0.4rem;
		}
		&::-webkit-scrollbar-thumb {
			display: none;
			background-color: $dividerColour;
			border-radius: 0.2rem;
		}
		&:hover {
			&::-webkit-scrollbar-thumb {
				display: block;
			}
		}

		.thumbnail-container {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			min-width: 80px;
			height: 45px;
			margin: 0 5px;
			transition: margin 0.5s ease-out, transform 0.5s ease-out;
			img {
				max-width: 100%;
				max-height: 100%;
			}
			&.current-slide {
				outline: 2px solid $likeColour;
			}
			&:hover {
				transform: scale(1.1);
				margin: 0 1.5rem;
			}
		}
	}
}
